* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ECCB8C;
}

header {
    background-color: #AC7024;
}

header h1 {
    font-size: 3.9em;
    padding: 25px 0px 0px 20px;
}

header p {
    font-size: 2em;
    padding: 0px 0px 10px 25px;
    text-transform: uppercase;
}

nav {
    background-color: #ECCB8C;
    display: flex;
    /* Make the nav a flex container */
    justify-content: space-around;
    /* Distribute space evenly around items */
    align-items: center;
    /* Vertically align items in the center (optional) */
    height: 100px;
    /* Or your desired height */
}

nav ul {
    list-style: none;
    /* Remove bullet points */
    padding: 0;
    margin: 0;
    display: flex;
    /* Make the ul a flex container for its list items */
    width: 100%;
    /* Ensure the ul takes full width within the nav */
    justify-content: space-around;
    /* Distribute space evenly around list items */
    align-items: center;
    /* Vertically align items in the center (optional) */
}

nav ul li a {
    text-decoration: none;
    color: #243641;
    font-size: 2rem;
    /* Optional: Add padding for better touch targets */
    padding: 0 15px;
    display: block;
    /* Make the link a block element to fill the li */
}

nav ul li:hover {
    background-color: #AC7024;
}

nav ul li:hover a {
    color: #E3C69D;
    /* Optionally change the link color on li hover */
}

aside {
    float: left;
    width: 25%;
}

aside img {
    display: block;
    width: 160%;
    margin: auto;
}

section {
    float: right;
    width: 63%;
    margin-top: 50px;
    background-color: #243641;
    color: #E3C69D;
}

section h2 {
    text-align: center;
    font-size: 2.5em;
    padding: 40px;
}

section h3 {
    padding: 20px;
    font-size: 2em;
}

section p {
    padding: 10px;
}

article {
    float: right;
    width: 63%;
    margin-top: 50px;
    margin: 50px auto;
    background-color: #AC7024;
    color: #243641;
}

article h2 {
    text-align: center;
    font-size: 2.5em;
    padding: 40px;
}

article h3 {
    padding: 20px;
    font-size: 2em;
}

article p {
    padding: 10px;
    font-weight: 1000;
}

footer {
    clear: both;
    text-align: center;
    padding: 25px;
    background-color: #AC7024;
}

@media screen and (max-width:1600px) {

    aside img {
        display: block;
        margin-top: 200px;
        float: left;
    }

    article {
        width: 100%;
    }
}

@media screen and (max-width:480px) {

    header,
    nav,
    aside,
    section,
    article {
        float: none;
        width: 100%;
        margin: 0;
    }

    header p {
        font-size: 1.5em;
    }

    aside img {
        width: 100%;
        margin-top: 0;
    }

    footer {
        background-color: #E3C69D;
    }
}